body {
  padding: 5px;
  background-color: #1E3577;
}

ul {
  background-color: #377197;
  text-align: center;
}

div {
  background-color: #195F8E;
  margin-left: auto;
  display: inline-block;
  /*float: inherit;*/
}

.mainTitle {
  background-color: #2B7CB3;
  text-align: center;
  display: block;
  width: 20em;
  margin: auto;
}

.projects {
  background-color: #195F8E;
  display: block;
  width: 40em;
  margin: auto;
}

.aboutMe {
  background-color: #0C598C;
}
